.promo {
  margin-bottom: 63px;
}

.promo__content {
  display: flex;
  max-width: 1740px;
  margin: 0 auto;
  column-gap: 24px;
  padding-top: 68px;
  padding-left: 120px;

  border-radius: 60px;
  background-color: #f4f6f5;
}

.promo__text {
}

.promo__title {
  max-width: 480px;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.25;
}

.promo__desc {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.05em;
  margin-bottom: 32px;
}

.promo__btn-wrapper {
  display: flex;
  column-gap: 34px;
  align-items: center;
}

.promo__btn-wrapper::before {
  content: "";
  display: inline-block;
  height: 32px;
  width: 190px;
  background-image: url("./../../images/icons/decor-yellow.svg");
}

.promo__btn {
  padding: 18px 40px;
  background: #000;
  color: #fff;
  border-radius: 10px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.5;
}

.highlight {
  position: relative;
  display: inline-block;
}

.highlight span {
  position: relative;
}

.highlight::before {
  content: "";
  display: block;
  position: absolute;
  top: -12px;
  bottom: 0px;
  left: -40px;
  right: -170px;
  background-color: #fff;
  transform: rotate(-2deg);
}

.highlight--yellow::before {
  background-color: var(--yellow);
  top: -9px;
  right: -110px;
}

.promo__img {
}
