.header {
  padding: 46px 0 56px;
}

.header__row {
  display: flex;
  column-gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.header__log {
  display: flex;
  align-items: center;
  column-gap: 13px;
}

.header__log span {
  font-weight: 900;
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header__nav {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.header__nav ul {
  display: flex;
  column-gap: 65px;
  align-items: center;
}

.header__nav a {
  color: var(--textColor);
}

a.header__nav-btn {
  padding: 13px 24px 15px;
  color: #fff;
  background-color: #000;
  border-radius: 8px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.03;
}
